* {
    color: #32414B;
}
body {
    font-family: "Open Sans", Arial, Helvetica
}
.sidebar-nav{
    background-color: #32414B;
}
.breadcrumb {
    background-color: #32414B;
}
.breadcrumb > li {
    color: white;
    text-shadow: none;
}
.nav-header {
    color: #B4A069;
    text-shadow: 0 1px 0 rgba(135,10,35,0.5)
}
.nav > li > a {
    color: white;
    text-shadow: 0 1px 0 rgba(242,242,242,0.5);
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: #F2F2F2;
    color: #32414B;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #A51E37;
}
a {
    color: #A51E37;
}
a:hover {
    color: #641221;
}
.externalLink[href^=http]::after {
    font-family: FontAwesome;
    content: "\f14c";
    padding: 5px;
}
.externalLink[href^=https]::after {
    color: #B4A069;
}
a.externalLink[href^=http] {
    background: white;
    padding:0px;
}
[class^="icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png");
}
.nav-list > .active > a > [class^="icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}
