<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- 
 * $Id$
 * $URL$
 *********************************************************************** 
 * This file is part of SBMLsqueezer, a Java program that creates rate 
 * equations for reactions in SBML files (http://sbml.org).
 *
 * Copyright (C) 2006-2015 by the University of Tuebingen, Germany.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 ***********************************************************************
 *
 * Version: $Rev$
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x -
				%m%n"/>
		</layout>
	</appender>
	
	<appender name="FA" class="org.apache.log4j.FileAppender">
		<param name="File" value="${user.dir}/messages.log"/>
		<param name="Threshold" value="WARN"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
		</layout>
	</appender>
	
	<root>
		<level value="WARN"/>
		<appender-ref ref="CA"/>
		<appender-ref ref="FA"/>
	</root>

</log4j:configuration>
